@font-face {
    font-family: Coachella;
    src: url("../fonts/Coachella-Regular.otf");
}

@font-face {
    font-family: Archia;
    src: url("../fonts/Archia-regular.ttf");
}

:root {
    --primary-color: #9E9E9E;
    --dark-primary-color: #616161;
    --light-primary-color: #F5F5F5;
    --light-accent-color: #ffc239;
    --dark-accent-color: #F29C3C;
    --dark-primary-text: #191919;
    --light-primary-text: #757575;
    --divider-color: #BDBDBD;
    --transparent-black: rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    padding: 0;
    background: var(--light-primary-color);
    font-family: Helvetica;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Coachella, sans-serif;
}

p, a {
    font-family: Archia, sans-serif;
}

a {
    text-decoration: none;
}

header {
    /* border: 2px solid red; */
    background: var(--light-accent-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.hero {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.hero h1 {
    text-align: center;
    font-size: 92px;
    color: var(--light-primary-color);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
    margin-top: 0;
}

.landing-hero {
    background-image: url("../img/GrabadoJason.jpg");
}

.hero-logo-container {
    margin-top: 100px;
}

.logo-container img {
    width: 50px;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
}

.navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.navbar li {
    list-style: none;
    margin-left: 10px;
}

.navbar li a {
    text-decoration: none;
    color: var(--dark-primary-text);
    font-weight: 700;
    font-size: 18px;
}

.navbar li a:hover {
    color: white;
}

.hero-inner {
    /* border: 2px solid yellow; */
    padding-top: 96.188px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80%;
}

.hero-cta-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-cta {
    text-align: center;
    background: rgba(255, 255, 255, .95);
    color: var(--dark-primary-text);
    padding: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.hero-cta-button {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: var(--light-accent-color);
    width: 250px;
    padding: 12px 24px;
    margin: 0 auto;
    border-radius: 30px;
    display: block;
    text-align: center;
    -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
}

.hero-cta-button:hover {
    cursor: pointer;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.hero-cta-button:active {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#about {
    text-align: center;
    background: var(--light-accent-color);
    color: var(--dark-primary-text);
    height: 100vh;
}

#about p {
    font-size: 36px;
}

.about-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: inherit;
}

.about-content h1 {
    font-size: 82px;
}

#menu-preview {
    background: white;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: var(--dark-primary-text);
    text-transform: uppercase;
    background: var(--light-accent-color);
    padding: 12px 24px;
    font-weight: 700;
    font-size: 18px;
    font-family: Coachella;
    border-radius: 5px;
    -webkit-transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
}

.cta-button:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.cta-button:active {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.sides-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
}

.left, .right {
    width: 50vw;
    height: inherit;
}

.side-img {
    height: inherit;
    width: inherit;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.side.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: inherit;
}

.side-content-container {
    padding: 50px;
}

.side h2 {
    font-size: 50px;
    margin: 0;
}

.side p {
    font-size: 20px;
    margin-bottom: 28px;
}

.right.side.img .side-img {
    background-image: url("../img/food.JPG");
}

.left.side.img .side-img {
    background-image: url("../img/alejandro.JPG");
}

#info {
    height: 50vh;
}

.squares-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
}

.square {
    width: 34%;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.square-title {
    border-top: 5px solid;
    border-bottom: 5px solid;
    padding: 10px 0;
}

.black {
    background: var(--dark-primary-text);
    color: var(--light-accent-color);
}

.black .square-title {
    border-color: var(--light-accent-color);
}

.yellow .square-title {
    border-color: var(--dark-primary-text);
}

.yellow {
    background: var(--light-accent-color);
    color: var(--dark-primary-text);
}

.white {
    background: white;
}

.google-maps {
    width: 100%;
    height: 100%;
}

footer {
    background: var(--dark-primary-text);
    color: var(--light-accent-color);
    padding: 25px 0;
}

.footer-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.footer-content-container a {
    color: var(--light-accent-color);
}

.footer-content-container a:hover {
    color: var(--dark-accent-color);
}

/* ------------------------------------------------ */

/*--------------- MENU STYLES--------------------- */

/* ------------------------------------------------ */

.menu-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

#menu h2 {
    margin: 0;
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light-accent-color);
}

#menu h2 span {
    background: transparent;
    border: 4px solid var(--light-accent-color);
    padding: 10px 20px;
}

.menu-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 380px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* background-attachment: fixed; */
}

#cafe .menu-banner {
    background-image: linear-gradient(var(--transparent-black),var(--transparent-black)), url("../img/cafe-banner.jpg");
}

#brew-bar .menu-banner {
    background-image: linear-gradient(var(--transparent-black),var(--transparent-black)), url("../img/brew-bar-banner.png");
}

#bagels .menu-banner {
    background-image: linear-gradient(var(--transparent-black),var(--transparent-black)), url("../img/bagels-banner.jpg");
}

#no-coffee .menu-banner {
    background-image: linear-gradient(var(--transparent-black),var(--transparent-black)), url("../img/no-coffee-banner.jpg")
}

#desserts .menu-banner {
    background-image: linear-gradient(var(--transparent-black),var(--transparent-black)), url("../img/desserts-banner.JPG")
}

.items-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.item-card {
    width: 588px;
    margin-bottom: 30px;
    text-align: center;
    color: var(--dark-primary-text);
    overflow: hidden;
    /* border: 1px solid rgb(24, 24, 24); */
}

.item-card h3 {
    font-size: 26px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 10px 0;
}

.item-card hr {
    border: 1px solid var(--light-accent-color);
    width: 80px;
    /* height: 4px; */
    margin-bottom: 10px;
    /* background-image: url("../img/hr_short.png"); */
}

.item-description {
    color: var(--light-primary-text);
    font-size: 14px;
}

.item-img-container img {
    width: 100%;
    height: 392px;
    -o-object-fit: cover;
    object-fit: cover;
}

.price {
    font-size: 18px;
    display: block;
    margin: 0 auto;
    width: 60px;
    color: var(--dark-accent-color);
    margin-bottom: 10px;
}