:root {
    --primary-color: #9E9E9E;
    --dark-primary-color: #616161;
    --light-primary-color: #F5F5F5;
    --light-accent-color: #FADA61;
    --dark-accent-color: #F29C3C;
    --dark-primary-text: #212121;
    --light-primary-text: #757575;
    --divider-color: #BDBDBD;
}

body {
    margin: 0;
    padding: 0;
    background: var(--light-primary-color);
    font-family: Helvetica;
}
